.elevator {
  display: flex;
  flex-direction: column;

  &__item {
    width: 225px;
    height: 180px;
  }

  &__container {
    position: relative;
  }

  &__human {
    position: absolute;
    bottom: 60px;
  }
}